/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/images
/public/vendor
/public/dropzone
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/Modules/DashBoard/node_modules
